<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    


    <title>Add category</title>
</head>
<body>
    <h1>Add category</h1>

    <form method="POST" action="#" th:action="@{/savecategory}" th:object= ${category}>
        <p>Category name: <input type="text" th:field="${category.name}" /></p>
       
        
        <input type="submit" value="Add" /> 
    </form>

</body>
</html>